::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: "ioozzz";
  src: url("../fonts/iosevka.eot");
  src: url("../fonts/iosevka.ttf") format("truetype"),
  url("../fonts/iosevka.eot") format("embedded-opentype"),
  url("../fonts/iosevka.svg#Iosevka-Slab-Light") format("svg"),
  url("../fonts/iosevka.woff") format("woff"),
  url("../fonts/iosevka.woff2") format("woff2");
}

html{
  font-family: 'ioozzz';
  overflow-x: hidden;
}

body {
  font-family: 'ioozzz';
  height: 100%;
  width: 100%;

  padding: 0px;
  margin: -1px;

  color: black;

  font-size: 2vh;
  justify-content: center;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: none;
}

div{
  width: 95%;

  margin: 0.2vw;
  padding: 0.2vw;

  display: inline-block;
  vertical-align: middle;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.projects_container{
  width: 95%;
  vertical-align: top;
}

div.card{
  /*box-shadow: 0px 0px 7px rgb(240,240,240);*/
  border-radius: 4px;
  margin: 3px;
  padding: 3px;

  width: 40%;
  vertical-align: top;

  border-style: solid;
  border-bottom-width: 0.2vw;
  border-top-width: 0.1vw;
  border-left-width: 0.1vw;
  border-right-width: 0.1vw;
  border-color: rgb(230,230,230);
}

div.sub{
  width: 100%
}

div.project{
  width:45%;
  box-shadow: 0px 0px 0px rgba(255,255,255,1);
}

div.header_content{
  float: right;
}

div.header{
  display: flex;
  width: 100%;

  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: rgb(230,230,230);
  border-bottom-width: 1px;

  box-shadow: 0px 1px 8px rgb(230,230,230);

  margin: auto;
  padding: 15px;

  text-align: left;
}
div.footer{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -100px;
  padding: 15px;
  height: 180px;
  /*clear: both;*/
  border-top-color: rgb(230,230,230);
  border-top-width: 1px;
  box-shadow: 0px -1px 8px rgb(230,230,230);
}

div.topbar {
  margin: 0px;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding: 10px;
  width: 100%;
}

textarea{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding: 10px;
  width: 100%;
}

h1{
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
h1.white{
  color: white;
}

h1.header{
  padding: 0.5vw;
  margin: 0.5vw;
  float: left;
}

h2{
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
h2.white{
  color: white;
}

p{
  font-family: ioozzz;
  display: inline-block;
  text-align: left;
}

p.white{
  color: white;
}

img{
  padding: 0.25vw;
  margin: 0.25vw;
  width: 30px;
  height: 30px;
  display: inline-block;
}

img.profile{
  width:auto;
  height:70vh;
}

img.full{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
}
img.header{
  width:50%;
  height:auto
}

img.gallery{
  width:45%;
  height:auto;
}

video{
  width: 100%;
  height: auto;
}

a{
  border-color: rgb(230,230,230);
  box-shadow: 0vw 0vw 0.1vw rgb(240,240,240);
  background-color: transparent;

  /* height: auto;
  width: auto; */

  text-decoration: none;
  border-bottom-style: solid;
  border-width: 0.2vw;
  padding: 0.5vw;
  margin: 0.5vw;
  white-space: nowrap;
  display: inline-block;

  vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  border-radius: 0.5vw;
}

a.menu{
  float: right;
}

a.white{
  color: white;
  border-color: white;
}

a.image{
  width: 25px;
  height: 25px;
  padding: 0vw;
  border-style: none;
  box-shadow: 0px 0px 0px rgba(255,255,255,1);
}

@media (max-width: 1250) {
  div.card{
    width: 90%;
  }
  div{
    width: 90%;
  }
  img.profile{
    width:60vw;
    height:auto;
  }
  img.gallery{
    width:90%;
  }
}

@media (max-width: 752px) {
  div.card{
    width: 90%;
  }
  div{
    width: 90%;
  }
  img.profile{
    width:60vw;
    height:auto;
  }
  img.gallery{
    width:90%;
  }
}

@media (max-width: 415px) {
  div.card{
    width: 90%;
  }
  div{
    width: 95%;
  }
  img.profile{
    width:60vw;
    height:auto;
  }
  img.gallery{
    width:90%;
  }
}
